body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
}
.table td {
   text-align: center;

}
.table th {
   text-align: center;
}

.table tr {
   text-align: center;
}
.list-group{
    max-height: 70vh;
    margin-bottom: 10px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}

.list-group-item:hover {
    background-color: #D9FFBE;
}

.subtitle{
    color: #B0B0B0;
}

.csv_download{
}