<!DOCTYPE html>
{% extends "base.html" %} <!-- header -->

{% block content %}

    <body>

    <div class="container mt-4">
        <div class="justify-content-md-center">
            <h1>DevOps Engineer</h1>
            <p>30 Job entries</p>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Rank</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job[0]}}</td>
                    <td>{{job[1]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

	</body>

</html>
{% endblock %}